.text-breack {
  width: 800px;
  text-align: justify; /* Lygiavimas pagal abi puses */
  text-indent: 2em; /* Pirmos eilutės įtrauka */
  line-height: 1.6; /* Tarpo tarp eilučių padidinimas */
  hyphens: auto; /* Automatinis žodžių lūžimas su brūkšneliais */
  font-family: "Times New Roman", serif;
  border: 1px solid #ccc; /* Tik vizualiai matyti bloką */
  padding: 1em;
  font-size: 2rem;
}
